$primary-color:#5B92AD;
$secondary-color:#ABB3C7;
$color-white:#fff;
$color-grey-dark:#333;
$color-grey-light:#e7e5e5;
$clear-sky:url(../img/bg.jpeg);
$cloudy-sky:url(../img/cloudy.jpeg);
$rainy-night:url(../img/rainy.jpeg);
$sun-rais:url(../img/sun-raise.jpeg);

